.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ADD8E6;
	color: black;
	text-align: center;
	font-family: "Lucida Console", "Courier New", serif;
}

body {
	font: 30px Tahoma, Verdana, sans-serif;
}