.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #ADD8E6;
	color: black;
	text-align: center;
	font-family: "Lucida Console", "Courier New", serif;
}

.redirectButton {
	position: absolute;
	top: 10px;
	right: 10px;
}
.redirectButton2 {
	position: absolute;
	top: 10px;
	left: 10px;
}
.redirectButton3 {
	position: absolute;
	top: 10px;
	right: 10px;
}

.yugitiki {
	position: absolute;
	left: 10px;
}

.background-generic {
	width: 100%;
    position: absolute;
	object-fit: cover;
	
}

body, html {
	height: 100%;
	font: 30px Tahoma, Verdana, sans-serif;
}